<h1>Take Survey</h1>
<%= semantic_form_for [@survey, @submission] do |f|%>
  <%= f.hidden_field :time_stamp, :value => Time.now %>
  <%= f.input :user, :as => :select, :collection => User.all %>

  <% @survey.questions.each do |q| %> 
    <% choices = q.choices.map { |c| c.answer } %>
    <%= q.prompt %>
    <%= f.semantic_fields_for q do |question| %>
      <%= question.input :choices, 
        :as => :radio, 
        :collection => q.choices, 
        :required => false, 
        :label => "", 
        :label_method => :answer,
        :name => "submission[responses_attributes][#{q.id}][choices_attributes][id][]" %>
    <% end %>
  <% end %>
	<%= f.buttons %>
<% end %>
